@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,700&display=swap');

body{
    font-size: 14px;
    line-height: 17.07px;
    font-family: 'Montserrat';
}

h1 {
    width: 133px;
    height: 25px;
    top: 40px;
    left: 77px;
    gap: 0px;
    opacity: 0px;
    font-family: "Inconsolata";
    font-size: 24px;
    font-weight: 700;
    line-height: 25.18px;
    letter-spacing: -0.08em;
    text-align: left;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
}