@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,700&display=swap');

h1 {
    margin-top: 40px;
    margin-left: 77px;
    width: 133px;
    height: 25px;
    font-family: 'Inconsolata';
    font-size: 24px;
    line-height: 25.18px;
    letter-spacing: -2pt;
    color: #333333;
    margin: 34p;
}
.container {
    display: flex;
 }

#image {
    width: 539.22px;
    height: 447.43px;
    margin-left: 77px;
    margin-top: 265px;
}

.tipografia {
    font-family: 'Space Mono';
    letter-spacing: -0.035em;
}

h2 {
    width: 586px;
    height: 190px;
    margin-top: 265px;
    margin-left: 119px;
    font-size: 64px;
    line-height: 94.78px;
    color: #333333;
    font-weight: 700;
}

#descripcion {
    width: 381px;
    height: 108px;
    top: 491px;
    margin-left: 120px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35.54px;
    color: #4f4f4f;
    text-align: left;
}

button {
    width: 216px;
    height: 68px;
    top: 683px;
    margin-left: 140px;
    gap: 0px;
    opacity: 0px;
    background-color: #333333;
}

#text {
    width: 130px;
    height: 21px;
    top: 687px;
    left: 783px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.73px;
    text-align: left;
    color: #FFFFFF;
}

#derechos {
    font-family: 'Montserrat';
    font-size: 14px;
    width: 300px;
    height: 17px;
    margin-top: 380px;
    margin-left: 777px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    color: #bdbdbd;
}   