@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,700&display=swap');

body{
    background: #FFFFFF;
}

h1 {
    margin-top: 40px;
    margin-left: 77px;
    width: 133px;
    height: 25px;
    font-family: 'Inconsolata';
    font-size: 24px;
    line-height: 25.18px;
    letter-spacing: -2pt;
    color: #333333;
    margin: 34p;
}

.container {
    display: flex;
}

#image {
    width: 539.22px;
    height: 447.43px;
    margin-left: 77px;
    margin-top: 265px;
}

h2 {
    width: 586px;
    height: 190px;
    margin-top: 265px;
    margin-left: 119px;
    font-size: 64px;
    font-family: 'Space Mono';
    letter-spacing: -2.5pt;
    line-height: 94.78px;
}